[2020-12-29 22:13] moustakas opened #4 "compute K-corrections and rest-frame colors and luminosities from the photometric fits"
Related to https://github.com/desihub/prospect/issues/32.

[2020-12-30 01:52] moustakas commented on #4
For now I'll compute the absolute magnitudes in the DECam g-, r-, and z-band filters, but this is an optional input.

One question is whether we want these absolute magnitudes band-shifted to a particular redshift, e.g., z=0.3 for BGS.

[2020-12-30 11:31] moustakas opened #5 "median-smooth the residual spectrum before line-fitting"
After subtracting the stellar continuum, median-smooth the residuals before line-fitting in order to pick up any unmodeled low-frequency flux or calibration errors.

[2020-12-31 14:38] moustakas commented on #4
Done in #6.

[2020-12-31 14:38] #4 closed

[2021-01-04 03:46] moustakas opened #8 "write unit tests"

[2021-01-05 18:10] moustakas opened #9 "handle corner cases when computing K-corrections"
1. Make sure the same observed-frame bandpass isn't used to compute multiple rest-frame magnitudes, even if the K-correction is larger by having to go to a longer delta-wavelength filter.
2. Don't apply K-corrections to very low S/N photometry.

[2021-01-13 19:29] michaelJwilson opened #10 "BGS Blanc Lynx feedback"
Unfortunately, I don't have the expertise of Arjun so a list largely of stating the obvious.  Largely, things look great.  I'd rate the QA as needs improvement before a larger run, to enable better vetting.  Basically, to provide more of what prospect lists.

Before transfer to prospect:
    --  Move to data online.  E.g. I've mirrored as
          https://data.desi.lbl.gov/desi/users/mjwilson/SPE

[2021-02-02 13:02] moustakas commented on #8
Rudimentary documentation is in place.

For unit tests look at this example from Ben--
  https://github.com/desihub/desispec/pull/1053

[2021-04-10 01:56] moustakas commented on #5
Done in #15.

[2021-04-10 01:56] #5 closed

[2021-04-14 17:02] moustakas opened #17 "handle luminosity distance with very small redshifts"
Currently we cut on `z>0` for fitting, but very small redshifts (like 10^-7) can cause problems when calling `astropy.cosmology.FlatLambdaCDM().luminosity_distance()`.  Fix this.

[2021-04-14 17:39] moustakas commented on #17
Actually this ended up being a different issue. This astropy method handles very small redshifts just fine.

[2021-04-14 17:39] #17 closed

[2021-04-16 10:28] moustakas opened #19 "imaging fluxes can be slightly different in fastphot vs fastspec metadata table"
An odd one to try to track down and understand. In the Denali fastphot vs fastspec metadata tables, the imaging `grzW2W2` fluxes are *slightly* different for the following example targets. Ostensibly these data came from the same `fibermap` table (and were subject to the same dust correction), so I don't understand what's going on.

[code]
vs
[code]

[2021-05-02 11:19] moustakas opened #21 "[OIII] 4959 amplitude is non-zero even when [OIII] 5007 amplitude is zero"
Need to clean up this corner case after final line-fitting (affects the [NII] doublet, too). Not a critical bug, just an inconsistency in the final output table.
[code]

[2021-05-05 22:59] moustakas opened #22 "add minimum photometric uncertainties in fastphot"
Poor fits to the WISE photometry can lead to larger-than-expected reduced chi^2 values when fitting the broadband photometry. Consider adding minimum photometric uncertainties in quadrature to the formal uncertainties. Also consider not fitting to W2, which can be impacted by non-thermal (AGN) processes which our model fitting does not (yet?) include.

[2021-05-08 12:20] moustakas opened #23 "include MW_TRANSMISSION in output metadata table"
It would be convenient to have the MW_TRANSMISSION_[GRZW1-2] values in the output metadata table so that various models can be compared with the extinction-corrected photometry.

Note: use the methods in https://github.com/desihub/desiutil/pull/169 once that PR is merged.

[2021-05-13 19:24] julienguy commented on #23
Note PR desihub/desiutil#171 (newer version of 169) has been merged.

[2021-05-14 23:44] astro-blue opened #25 "Adding ELGs with zwarn==4"
For some high-z ELGs, the [OII] emission features are robust but the redrock can not robustly distinguish the features as [OII] or Ha or [OIII]. This yields a small detachi2 for the first best fit with zwarn==4.
If only systems with zwarn==0 are included, we will lose a fraction of those high-z galaxies.

It will be great if ELGs with zwarn==4 can also be included in the catalog.
It will increase

[2021-05-21 11:15] ameliesaintonge opened #26 "Definition of D4000"
Would it be possible to clarify in the documentation what definition has been used to calculate the 4000A break value?
Thanks!
Amelie

[2021-05-31 12:30] moustakas opened #27 "use tile 80977 to test ELG vs QSO templates & redshift-fitting results"
QSO+ELG tile in Sag stream, tile 80977
https://desi.lbl.gov/trac/browser/data/tiles/trunk/080/fiberassign-080977.png

[2021-06-03 16:49] stephjuneau opened #28 "Add [OI]6300 in the list of emission lines"
Is it possible to include [OI]6300 in the list of emission lines? It is often weak but useful for the BPT + VO87 diagram analysis in AGN hosts.

[2021-06-15 15:44] moustakas opened #29 "use desispec.coaddition.coadd_cameras to coadd across cameras"
Switch to the "official" method and retire the home-cooked method I wrote.

[2021-06-18 17:27] biprateep opened #30 "Add measurements of Lick indices"
It will be nice to get measurements of lick indices/absorption line equivalent widths, etc from the spectra.

[2021-06-18 21:25] biprateep opened #31 "D4000: Cannot reproduce measurements for Denali"
I think there might be something wrong with the D4000 measurements. Sent @moustakas  a minimum reproducible example over slack. I read in one petal from one tile (the deepest available one) and used your function from fastspecfit to calculate DN4000 and plotted it against the value from the catalog, and I find quite dissimilar values.

[2021-06-19 11:46] moustakas opened #32 "photsys can be empty for some secondary targets"
Summarizing an off-list conversation with Raga, @geordie666, and @stephjuneau:

To get PHOTSYS from TARGETID (thanks to @geordie666):

[code]

This should return "N"/"S" as expected, or None if the target has no Legacy Surveys provenance (by which I mean that no valid TARGETID was propagated from dr9 for the target).

But then Raga found:

[code]

[2021-06-19 16:06] Ragadeepika-Pucha commented on #32
I am sorry for the delay. Tagging myself on this issue.

[2021-06-20 12:22] moustakas commented on #31
Thanks @biprateep, I agree that this is a bug with the spectroscopic Dn(4000) measurements. Here's Dn(4000) in the `FASTSPEC` catalog vs the remeasured values (using the same code in `fastspecfit`)

<img width="404" alt="Screen Shot 2021-06-20 at 8 17 43 AM" src="https://user-images.githubusercontent.com/1431820/122673767-fd9f1a80-d19f-11eb-8541-5f852ff45565.png">

And here's the comparison with t

[2021-06-20 16:33] biprateep commented on #26
I second this recommendation. Moreover,  (following the convention set by Kaufman 2003) the band being used by fastspecfit is narrower than the D4000. So, changing the column name to DN4000 might be helpful.

[2021-06-20 20:42] biprateep opened #33 "Add UBV Absolute magnitudes"
Hi, It would be helpful if you add U,B,V absolute magnitudes to your fastphot catalogs. This can help us better select K+A galaxies.

[2021-07-02 15:54] biprateep commented on #26
PR #35 changes the name to DN4000 to be consistent with common terminology.

[2021-07-02 16:07] #31 closed

[2021-07-02 21:06] sybenzvi opened #36 "Add He II 4686 to list of fit emission lines"
This is a very prominent line in TDEs and the line ratio with Halpha is useful for filtering out AGN imposters.

[2021-07-29 00:34] #33 closed

[2021-07-29 19:21] moustakas commented on #26
To be honest I wasn't crazy about the column name `DN4000` but I guess it's broadly consistent with previous data models from SDSS I/II and MaNGA so I'll get over it!--
* https://data.sdss.org/datamodel/files/MANGA_SPECTRO_ANALYSIS/DRPVER/DAPVER/DAPTYPE/PLATE/IFU/manga-MAPS-DAPTYPE.html
* https://data.sdss.org/datamodel/files/SPECTRO_REDUX/galSpecIndx.html

I updated the documentation to match the

[2021-07-29 19:21] #26 closed

[2021-07-30 19:26] moustakas commented on #30
@biprateep how high priority is it for fastspecfit to measure Lick indices? There are a number of subtleties associated with these measurements (e.g., convolving the data to a specific instrumental resolution to bring the measurements onto the Lick system) that I'm not excited about doing in terms of the computational cost. I'm also not sure how many spectra will have enough signal-to-noise to yie

[2021-07-30 19:40] biprateep commented on #30
@moustakas In short: No it is not a very high priority, you can skip it for the next release.

I am measuring lick indices as an afterburner using an external library. I added this feature request so that all the measurements I was using come from a consistent processing pipeline. One thing we can do is to provide a set of functions that people can use if they want to get Lick indices for their sp

[2021-07-30 19:43] moustakas opened #37 "profile the code and see if there are some simple optimizations to be had"
The most expensive part of the code is in the emission-line fitting which, unfortunately, relies on the astropy.fitting module. Do a profiling pass and see if there are some simple optimizations and speed-ups to be had.

https://docs.nersc.gov/development/languages/python/profiling-debugging-python/

[2021-07-30 19:48] moustakas commented on #30
Thanks, that sounds good. Is this the library you're using?
  https://mfouesneau.github.io/docs/pyphot/licks.html
It looks awesome!

[2021-07-30 20:06] biprateep commented on #30
Yup, this is the one I am currently using. I have seen plenty of others use it and its pretty good!

There's this very recent library (PyLick) dedicated to Lick indices I saw on arxiv a few weeks back. Will check this one out sometime. https://gitlab.com/mmoresco/pylick/

[2021-07-31 12:18] moustakas commented on #32
I've confirmed that this is an issue and I *think* there's a straightforward fix.

The problem is that the following catalogs
[code]
only have a small fraction of the columns normally found in a targets catalog. Consequently, when fiberassign is/was run, the columns which are usually populated like `FLUX_[G,R,Z]`, `PHOTSYS`, etc., are empty, e.g.,

[code]

This particular target, however, has perf

[2021-07-31 12:37] moustakas commented on #25
Done in https://github.com/desihub/fastspecfit/commit/9019bc9108f4f1d47c738fee3a01910dd91cb3af.

[2021-07-31 12:37] #25 closed

[2021-07-31 13:51] moustakas commented on #36
@sybenzvi I'm working on this now and wondering if there are any other lines you're interested in like HeI 5875. Better to add them now...

For my own records, here's how I got the vacuum wavelength of HeII using https://github.com/Morisset/PyNeb_devel

[code]

[2021-07-31 16:55] geordie666 commented on #32
@moustakas: What you propose is certainly a reasonable solution for the small subset of cases where secondary targets (i) exist in DR9 and;(ii) were observed as part of sv1. For wider, general context:

- By sv3, we were including fluxes and `TARGETID` (which encodes `RELEASE`) from DR9 in the "standalone" secondary files (e.g. `/global/cfs/cdirs/desi/target/catalogs/dr9/0.57.0/targets/sv3/seconda

[2021-08-01 11:05] moustakas commented on #28
Done in https://github.com/desihub/fastspecfit/commit/fad2503a298e38fec6840b461b13c44f2e8c3733.

[2021-08-01 11:05] #28 closed

[2021-08-01 11:05] moustakas commented on #36
Done in https://github.com/desihub/fastspecfit/commit/fad2503a298e38fec6840b461b13c44f2e8c3733.

[2021-08-01 11:05] #36 closed

[2021-08-01 13:09] moustakas commented on #32
Thanks @geordie666, I'm not planning to support targets without DR9 photometry.

For the record here's my current procedure (please comment!):

1. Given a single `coadd-*.fits` file and corresponding `redrock-*.fits` file, read the `REDSHIFTS`, `FIBERMAP` and `EXP_FIBERMAP` extensions.
2. Apply quality cuts, currently: `z>0 & zwarn <= 4 & objtype='TGT' & coadd_fiberstatus==0 & (photsys == 'N' | ph

[2021-08-02 01:38] moustakas commented on #23
Done in https://github.com/desihub/fastspecfit/commit/2c4b19e4b67d44dd072d9591bb65d3b1d79d93dc but the dust corrections depend on https://github.com/desihub/desiutil/pull/175.

[2021-08-02 01:38] #23 closed

[2021-08-02 10:26] moustakas commented on #29
Done in https://github.com/desihub/fastspecfit/commit/2aa842d99b516b6fef780eb509aa21fe72fb009a.

[2021-08-02 10:26] #29 closed

[2021-08-02 12:18] moustakas commented on #37
(Not) shockingly, more than 75% of the time is spent in `astropy.modeling.fitting`, e.g.

[code]

<img width="1042" alt="Screen Shot 2021-08-02 at 8 17 05 AM" src="https://user-images.githubusercontent.com/1431820/127860635-5e37b2a5-5eca-46b7-a7ba-93b888fb24c1.png">

[2021-08-02 16:28] geordie666 commented on #32
I think that sequence is correct @moustakas. The only way I can think of to (potentially) simplify step (2) is to make an explicit check on whether a target is from `sv1`. If the target has `photsys` blank, but _is_ from `sv1` you would then retain the object for special treatment. It's really only `sv1` that's the problem, here, I think.

There might be header information corresponding to `sv1` i

[2021-08-02 22:50] Ragadeepika-Pucha commented on #32
@moustakas - I can create the catalogs that you need for the SV1 secondary targets. Can you confirm what columns you need from DR9 photometry? Are these the ones from step [4]?
I can add blank PHOTSYS and '-99' for the rest of the columns for the targets without available DR9 photometry. Or would you suggest something else?

[2021-08-03 00:01] moustakas commented on #32
Terrific, @Ragadeepika-Pucha, thanks. If you could please propagate *every* column that's in the DR9 sweep files (plus the `TARGETID` that's in the targets catalog now and `PHOTSYS`), that way we won't have to do this again.

To determine which SV1 secondary targets *should have* DR9 photometry (rather than having to match on RA,Dec), I just checked that the trick @geordie666 gave us above works b

[2021-08-17 21:45] moustakas commented on #32
@Ragadeepika-Pucha has prepared row-matched catalogs---thank you!

@geordie666 could you help review?

[code]

[2021-08-17 21:48] geordie666 commented on #32
I can help review but I'm in meetings the rest of the day, so won't get to this until tomorrow morning.

[2021-08-18 20:27] geordie666 commented on #32
I ran through 1000 secondary targets from each of the "bright" and "dark" files, and I confirm that everything seems correct in Raga's files. Here's the snippet of code I used:
[code]
Depending on how formal @moustakas wants to make these files, we might want more informative header information. We might also want a different schema than just setting all of the columns to "ridiculous" values when

[2021-08-20 01:34] moustakas commented on #32
Thanks for the checks, @geordie666.

@Ragadeepika-Pucha, is it straightforward for you to make a couple changes to these catalogs? The biggest change is that the data type of each column in the catalogs you made should match the corresponding column in the sweep catalogs. (For example, in your catalogs `sersic` is `float64` but in the sweeps it's `float32`. Also, in the sweeps the column names are

[2021-08-20 01:46] geordie666 commented on #32
In case it helps, the full data model for every column in the sweeps files is here:

https://github.com/legacysurvey/legacypipe/blob/6d1a92f8462f4db9360fb1a68ef7d6c252781027/bin/generate-sweep-files.py#L333-L547

[2021-08-20 15:59] Ragadeepika-Pucha commented on #32
@moustakas -- I think it is pretty straightforward for me to 1) change the datatype of columns, and 2) change the column names to capital letters.
However, I am not completely sure about how to insert zero values for all the columns (given different datatypes) for non-matches. I will give it a try and let you know.
@geordie666 - Thank you for the datamodel.

[2021-08-20 17:30] Ragadeepika-Pucha commented on #32
@moustakas - I have changed the datatype of columns and changed the names to capital letters.
In the case of non-matches -- I filled it with 0 and 0.0 for int and float columns -- and empty strings in 'S' dtype columns. Is this fine?
If yes, I will double-check everything and publish the new tables.

[2021-08-20 22:52] moustakas commented on #32
@Ragadeepika-Pucha this all sounds great, thank you.

[2021-08-21 00:53] Ragadeepika-Pucha commented on #32
The catalogs are `sv1targets-bright-secondary-dr9photometry.fits` and `sv1targets-dark-secondary-dr9photometry.fits` - These are located in the `/global/u1/r/raga19/data/`. To summarize -

- I changed the datatype of columns to match the datatype of sweep files.
- I renamed the column names in capital letters.
- All the non-matches have 0 for int columns, 0.0 for float columns, ' ' (empty string)

[2021-08-23 12:20] moustakas commented on #37
There is extensive discussion of this issue here, which has resulted in a factor of ~11.5 speed-up (compared to astropy `v4.2.1`) of a test-case spectrum with 40 emission lines (24 of which are within the wavelength range of the data): https://github.com/astropy/astropy/issues/12089

Line-fitting now takes ~1.5 seconds vs 15-20 seconds previously.

In addition, @sybenzvi contributed https://github

[2021-08-23 12:30] moustakas commented on #32
Thank you, @Ragadeepika-Pucha! I spot-checked the new catalogs and everything looks good.

@geordie666 could you copy these catalogs into place so I can more fully test them within the `fastspecfit` pipeline? (I don't have permission to do so.)
[code]

[2021-08-23 15:16] geordie666 commented on #32
OK, these files are now in the appropriate directories.

[2021-08-28 15:46] moustakas commented on #32
Thanks, @geordie666.

I finally got around to testing these catalogs and realized that we missed a few other locations.

@Ragadeepika-Pucha, we need row-matched DR9 photometry for the following SV1 catalogs, too, in order for me to accommodate all the SV1 tiles. Is it straightforward for you to make them?

[code]
and
[code]

[2021-08-28 15:55] geordie666 commented on #32
@moustakas: Are you sure that's the correct list? Anand showed me the following neat trick for determining which target versions were actually observed on tiles:
[code]
So, it seems like we did observe version `0.47.0` for `sv1` but we did not observe `0.52.0`?

[2021-08-28 16:07] moustakas commented on #32
What I did was much dumber, @geordie666. I didn't consider what was observed, I just did:
[code]
Maybe someone will want DR9 photometry for these intermediately-tagged catalogs even if we never got on-sky with them? I dunno.

In any case, @Ragadeepika-Pucha, in order for me to push your SV1 sample through fastspecfit I need DR9 photometry for tags `0.47.0 bright/dark` and `0.51.0 dark` (you alread

[2021-08-28 16:10] geordie666 commented on #32
Hey, Anand's the smart one. I think you're correct that we should just run all of them if @Ragadeepika-Pucha is willing? It's probably best to process the files while this is fresh-in-the-memory, even if nobody ultimately needs the extra catalogs.

[2021-08-28 17:26] moustakas commented on #19
Done in https://github.com/desihub/fastspecfit/commit/a19d621d50f581ee89ed5ad3f534016c7d2f59bc. Turns out that I was writing out reddening-corrected fluxes for `fastphot` and as-observed fluxes for `fastspec`.

[2021-08-28 17:26] #19 closed

[2021-08-29 16:40] Ragadeepika-Pucha commented on #32
@moustakas @geordie666 - I will work on them this week and keep you posted. Thanks!

[2021-08-30 11:12] moustakas opened #38 "handle gaps in the data and, in particular, gaps in the resolution matrix"
A corner case that would be nice to handle is when there are gaps in the data, as illustrated in the fit below. In the 'r' camera, the flux, inverse variance, and resolution_data matrix are all zero. Consequently, when I convolve the best-fitting stellar continuumm model (which ignores these pixels) with the resolution matrix, we get an ugly-looking gap.

And yet, we know a lot about what the *mod

[2021-08-30 11:21] moustakas opened #39 "fit for the doublet ratio as a free parameter (with physical priors)"
The [OII] and [SII] doublet ratios depend on the electron density of the medium producing those lines, while the MgII doublet ratio can vary over a not-arbitrary range (for example, if one line is positive, the other line must be positive, too).

To integrate these physical priors into `fastspecfit`, consider using the *ratio* of these lines as one of the free parameters (with a sensible prior ran

[2021-08-30 12:00] moustakas commented on #37
Here are the latest profiling results, based on fitting 32 semi-random targets with commit https://github.com/desihub/fastspecfit/commit/779c0d92a44de7ad1a7fb9f261c062f05788a3f9 and no multiprocessing (otherwise the profiling results are basically impossible to interpret).

The most amount of time is spent in `emlines.EMLineModel.evaluate` and `emlines.EMLineModel._emline_spectrum` as part of the

[2021-08-30 12:02] moustakas commented on #37
The profiling results aren't rendering so here they are again as a screenshot.

<img width="652" alt="Screen Shot 2021-08-30 at 8 01 38 AM" src="https://user-images.githubusercontent.com/1431820/131335933-25a11caa-8957-4ace-8879-39870ce7a301.png">

[2021-08-31 15:03] biprateep opened #41 "Provide wrapper to instantiate model spectrum"
It will be helpful to provide a wrapper  to take a data table with the continuum coefficients as inputs and instantiate the best fit model spectrum for both photometry only (FASTPHOT) and spectra only (FASTSPEC) fits.

This can help with science cases like (but not limited to):
- Synthesize photometry in any arbitrary band
- apply aperture corrections
- change distance modulus to any arbitrary cos

[2021-08-31 22:45] Ragadeepika-Pucha commented on #32
@moustakas - Can you please confirm which files you are requiring photometry for?

`0.47.0` does not have any `secondary/*` files. The `sv1targets-*-secondary.fits` files that I found are the following -

`/global/cfs/cdirs/desi/target/catalogs/dr9/0.48.0/targets/sv1/secondary/bright/sv1targets-bright-secondary.fits`
`/global/cfs/cdirs/desi/target/catalogs/dr9/0.49.0/targets/sv1/secondary/bright/s

[2021-08-31 23:23] moustakas commented on #10
@michaelJwilson there have been significant improvements in both the fitting and the QA since Blanc, but rest assured that your early feedback here was enormously useful---thank you!

[2021-08-31 23:23] #10 closed

[2021-08-31 23:27] moustakas commented on #32
That list looks right @Ragadeepika-Pucha! (I didn't mention `0.50.0` because you already made those catalogs.)

[2021-09-03 04:41] Ragadeepika-Pucha commented on #32
@moustakas - all the files are ready and are located here - `/global/cfs/cdirs/desi/users/raga19/data/`
All the versions `0.*.0/` folders have one file corresponding to 'bright' and one file corresponding to 'dark' files, except `0.48.0`.

The `dark` catalog for `0.48.0` had ~45.26 million rows and I couldn't save the whole table into a single fits file because of memory issues. The exclusive cpu

[2021-09-03 09:40] moustakas opened #42 "exclude W2 from the set of bands fit with fastphot"
In the fits to the broadband photometry (using `fastphot`) in Denali, the chi-squared distribution for LRGs had a very large tail. By comparison, the chi-squared distribution for ELGs and other target classes were roughly symmetric and centered on ~1 (see below).

I *suspect* the issue is hot dust emission from AGN in a fraction of the LRG sample, which boosts the (observed-frame) W2 flux in a way

[2021-09-03 10:30] moustakas commented on #32
Thank you, @Ragadeepika-Pucha!

I was able to combine the troublesome catalogs in a login node with
[code]
And then I fixed permissions. I also spot-checked the merged catalog and everything looks OK as far as I can tell.

@geordie666 could we please copy these catalogs into place? Please feel free to double-check me on these commands! Also, I propose we overwrite the existing `0.50.0` DR9 photome

[2021-09-03 11:29] moustakas commented on #42
Or maybe it's just QSO contaminants in the target selection? Here's one example fit to an LRG target (in SV1) where W2 is included--
https://data.desi.lbl.gov/desi/users/ioannis/fastspecfit/everest/sv1/tiles/cumulative/80605/lrg/sv1-lrg-80605-39627658597767397-cumulative.html

<img width="1042" alt="Screen Shot 2021-09-03 at 7 15 24 AM" src="https://user-images.githubusercontent.com/1431820/131996

[2021-09-03 14:06] moustakas opened #43 "band_shift the absolute magnitudes"
In `fastphot`, consider band-shifting the `ugriz` photometry to `z=0.1` so the results can be compared with SDSS more easily. The `UBVW1` bands can be band-shifted to `z=0`.

[2021-09-03 16:29] geordie666 commented on #32
The catalogs have now been copied into place.

[2021-09-03 17:33] moustakas commented on #32
Thanks @geordie666.

Testing a handful of @Ragadeepika-Pucha's galaxies with
[code]
I get an error:
[code]

If I try to use `astropy.table.vstack` I get
[code]
so something is amiss.

Unfortunately I'm out of time right now to dig in case anyone else is inspired...

[2021-09-03 19:14] Ragadeepika-Pucha commented on #32
@moustakas - The error comes from the `PHOTSYS` column from the catalogs I created. The datatype of `TARGETID` matches with the targets catalog and the datatype of LS DR9 columns match the sweep files. However, the `PHOTSYS` column is 'S1' in my catalogs, while it is '<U1' in all the everest files. I am sorry for the confusion - I am making the changes on all the catalogs now.
@geordie666 - Is it

[2021-09-03 19:16] geordie666 commented on #32
@Ragadeepika-Pucha: Let me know the location of the changed files once they're ready and then I'll transfer them to the write-protected locations.

[2021-09-03 21:29] Ragadeepika-Pucha commented on #32
@moustakas - I finished making the changes to the `PHOTSYS` column for all the catalogs. The `0.48.0` catalogs - `*p1.fits` and `*p2.fits` needs to be combined again. Can you test the code again using these versions before transferring them to their locations? Thanks!

[2021-09-03 21:40] moustakas commented on #32
Thanks @Ragadeepika-Pucha, I'll test the catalogs but if you could merge your two partial catalogs that'd be helpful. I gave the snippet of code above and you just need to log in and do
[code]

[2021-09-03 21:44] Ragadeepika-Pucha commented on #32
@moustakas - I cannot merge the two partial catalogs because of memory issues. I am uable to use my `exlusive cpu node` access and the normal cori access keeps crashing because of the huge number of rows.

[2021-09-03 22:03] moustakas commented on #32
I'm getting the same error. I don't quite understand it, but it looks like it's the *order* of the columns in your catalog that's the issue, and so when I try to stack them, `np.hstack` complains.

Here's a snippet of output just so I don't forget (no action items, I'm working on it).
[code]

[2021-09-03 22:18] Ragadeepika-Pucha commented on #32
If it is the order of the columns -- then you can maybe try this -

If Table(targets[0]) is `table1` and Table(targets[1]) is `table2` then -
`columns = table1.colnames`
`table2_new = table2[columns]`
`stacked_table = astropy.table.vstack((table1, table2_new))`

I am not sure why you want to do `hstack` - if the purpose is to make one single table with all the sources, then shouldn't we be using `

[2021-09-03 22:34] moustakas commented on #32
OK, I capture the outstanding issue in code in `fastspecfit` but if we think anyone else is going to be stacking these SV1 catalogs with non-SV1 catalogs then we should probably fix this.

@geordie666 can you please move the files into their final resting place? Note that I combined the `0.48.0` dark catalogs for @Ragadeepika-Pucha as requested, so we should be good.

@Ragadeepika-Pucha, using `np

[2021-09-03 22:50] geordie666 commented on #32
OK, files should now be in place with the correct permissions at:
[code]

[2021-09-03 22:53] moustakas commented on #32
Thanks @geordie666. If there's justice in the world, this will close this ticket. (But I'll reopen if there are any issues in production...)

[2021-09-03 22:56] moustakas commented on #42
Done in https://github.com/desihub/fastspecfit/commit/47e4f76cad8e679461a2d882f03bfe92c5dfab60.

[2021-09-03 22:56] #42 closed

[2021-09-04 12:04] moustakas commented on #37
Closing this ticket but will re-profile post-Fuji data release.

[2021-09-04 12:04] #37 closed

[2021-09-04 20:11] moustakas commented on #32
Unfortunately it looks like the main-survey secondary target catalogs are also missing `PHOTSYS`, among other quantities:
[code]

[2021-09-05 11:15] geordie666 commented on #32
Because (at least, as I recall) I always had the code in place for matching back to the Legacy Surveys for Main Survey secondary targets, I _think_ that there should be two differences with the Main Survey files:

(1) The fluxes should be included.
(2) The incarnation at the top of this thread should recover `PHOTSYS`.

I'm not sure if you want other columns (e.g. the WISE fluxes) but (again, I _t

[2021-09-12 21:25] moustakas commented on #32
I think this issue has been handled in the latest (Everest) release, but let's open a new ticket if other issues are uncovered.

[2021-09-12 21:25] #32 closed

[2021-09-12 21:27] moustakas opened #45 "relax the constraint on PHOTSYS"
In the Everest release we required `PHOTSYS!=G`, i.e., excluding Gaia targets. With the latest refactor of the code, however, it should be straightforward to include these objects. It won't be possible to fit the broadband photometry of these objects (unless they have `grzW1W2` fluxes from the Legacy Surveys), but we can still fit the spectral continuum and emission-line fluxes of objects which en

[2021-09-17 07:31] stephjuneau opened #46 "Discrepancy between DN4000 data and model values"
These example cases are selected to have a good agreement between the **SDSS D4000_N** and the **DESI DN4000_MODEL** (within 0.03) but a large discrepancy between **DN4000** and **DN4000_MODEL** for DESI (>0.5).
[code]

[2021-09-17 19:33] stephjuneau commented on #46
Another type of discrepancy is having DESI DN4000_MODEL values consistent with SDSS data and SDSS Model values, but the DESI data values are missing (DN4000=0.0). This happens for >1000 cases. Below are a few examples (2nd one is an AGN). For comparison, the first one's SDSS counterpart spectrum is: https://dr16.sdss.org/optical/spectrum/view?mjd=52027&fiberid=133&plateid=585&zwarning=0&matches=an

[2021-09-17 21:44] stephjuneau opened #47 "Broad+Narrow Balmer line components"
Some Seyfert galaxies will likely have both a broad and a narrow Balmer line components. This example shows such a case with broad+narrow components on H-beta and H-alpha. However, the linewidth reported by fastspecfit is not larger for Halpha than for [OIII]5007, as I would have expected if fitting a single broad component to Halpha but a single narrow component to forbidden lines such as [OIII]5

[2021-09-17 22:24] stephjuneau commented on #47
For reference, these are the values as above for fastspecfit, and the linewidths reported by SDSS emission line VAC (DR12), where the Balmer lines are just fit with one component.

<img width="550" alt="image" src="https://user-images.githubusercontent.com/26126576/133859763-52cfa983-703d-4513-8a75-f80f43984bc3.png">

[2021-10-11 14:47] moustakas opened #48 "measure basic Lyman-alpha properties"
Although we won't be able to model the Lyman-alpha line itself with a simple Gaussian, we can still measure the total flux via boxcar-integration and also the EW.

[2021-10-11 15:19] DavoAlexander opened #49 "Testing Fastspecfit on DESI VI data"
Hi John - a great initial test of the quasar/AGN identification of Fastspecfit would be to fit all of the sources that have been visually inspected; that is the quasar, ELG, LRG, and BGS sub surveys. The VI data is a good first dataset for this exercise as we have data-quality flags for each VI'd target in addition to the VI spectral classification. The quasar VI may be the best starting point of

[2021-10-13 18:43] edarragh opened #50 "Ha fitting for lowz objects"
A few objects at z < 0.03 with HALPHA_EW = 0 that appear to have strong Ha emission lines in the coadded spectra.

targetid, tileid, fiber
39633006721237481, 20884, 331
39632971702995257, 20738, 1696
39632976853601447, 399, 1608
39632976853601447, 20387, 2497

[2021-10-18 17:49] moustakas commented on #50
Thanks for the report @edarragh!

Here is some QA output based on the healpix coadds
  https://data.desi.lbl.gov/desi/users/ioannis/lowz-secondary
which for the record I generated with the following incantation:
[code]

And here is a parsing of the Everest/FastSpecFit catalogs:
[code]

You can see from this table and from the QA output that H-alpha is being fitted, although the reason the equivale

[2021-11-02 20:36] Ragadeepika-Pucha commented on #41
@moustakas  - i tried what you mentioned above, but it is giving the following error -
`If 'fastspecfit-qa' is not a typo you can use command-not-found to lookup the package that contains it, like this:
    cnf fastspecfit-qa`

[2021-11-29 14:50] moustakas opened #51 "consider using a spline model for the low-level continuum-fitting correction"
The newly-released `astropy v5.0` includes tools for performing spline fitting. Investigate whether this gives better performance in the low-level continuum correction step than the median-smoothing currently implemented.

[2021-12-17 18:00] Ragadeepika-Pucha commented on #47
Here is another example. This is a low-mass broad AGN from Reines2013 sample.

![image](https://user-images.githubusercontent.com/25374269/146587850-b8fb42b2-5ced-441f-a987-5b852787dff2.png)

If needed, the sdss information is -
![image](https://user-images.githubusercontent.com/25374269/146587951-af9a5dd0-055b-4209-8c43-a9100beb0ddd.png)

[2021-12-17 18:06] Ragadeepika-Pucha opened #52 "Unreal fits because the fit does not converge to a final solution"
I found one galaxy (low-mass AGN from Reines+2013) where the fit does not converge to a solution leading to wrong emission line fluxes. The fastspecfit-qa for this sources is as follows -

![image](https://user-images.githubusercontent.com/25374269/146588627-1b1dbeee-b4fe-4de3-910c-16a81610d249.png)

Source Information:
![image](https://user-images.githubusercontent.com/25374269/146588669-31a8ee42

[2021-12-17 18:11] Ragadeepika-Pucha opened #53 "Good Fits"
This is the list of sources with very good fastspecfit results. These are low-mass AGN from Reines+2013 sample.

![image](https://user-images.githubusercontent.com/25374269/146589236-e66d0fe7-ef2a-417c-a2fd-a8565d415362.png)

[2021-12-18 20:10] moustakas commented on #47
Thanks @stephjuneau @Ragadeepika-Pucha, I should be able to tackle this feature request soon.

One question is how to expand the data model in order to accommodate the fact that the Balmer lines would appear twice, once for the broad line and once for the narrow line? Currently, these are the quantities `fastspec` outputs:
[code]

I propose using the `HALPHA_*` prefix for the *narrow* component an

[2021-12-23 05:50] stephjuneau commented on #47
Hi @moustakas, so I think you could use `NARROW_SIGMA` and `BROAD_SIGMA` as all the narrow (broad) components could be interpreted as coming from the same gas kinematics. So the Balmer lines case is not unique because narrow+broad components will also exist for HeII, and other broad lines, etc. I think it's fine to assign the default name for the narrow component and add the `LINE_BROAD-*` as a ne

[2022-01-19 16:19] segasai opened #54 "Zero ra, decs in the reduced M31 data"
This is just a bookmark about the issue with
RA,DECs  being zero for a large number of sources
in the the fastspecfit processing of the special reduction M31 data.
[code]

[2022-01-22 15:47] moustakas commented on #39
I generated some figures to this notebook using `pyneb` to help establish the appropriate physical priors:
https://github.com/desihub/fastspecfit/blob/fuji-dev/doc/nb/nebular-lines.ipynb

**[OII] 3726,29**

For extreme (but not unphysical) ranges of electron temperature and density, this ratio varies between 0.66300 and 1.38312, with a typical value of 0.74107.

<img width="560" alt="Screen Shot 2

[2022-01-22 21:10] moustakas commented on #39
Initial fitting results with this more physically flexible (and robust!) model can be seen in the screenshot below, which should be compared with the Everest version of the code:
https://data.desi.lbl.gov/desi/users/ioannis/fastspecfit/everest/tiles/cumulative/80613/fastspec-80613-cumulative-39633345008634465.png

Nothing crazy here and, in fact, I get an [SII] and [OII] doublet ratio of 0.7665860

[2022-01-22 21:24] moustakas commented on #39
BTW, the preceding fitting results were generated with
[code]

Here's another example, an ELG at `z=0.82`, which is also quite well-behaved. (Here, the doublet ratio is 0.7071845, which is again very close to nominal electron density.)
[code]
<img width="300" alt="Screen Shot 2022-01-22 at 4 22 26 PM" src="https://user-images.githubusercontent.com/1431820/150655858-78667c09-8304-4b08-b5f3-a3a5ed2d

[2022-01-22 22:25] moustakas commented on #47
@stephjuneau @Ragadeepika-Pucha how do you want me to handle the helium lines? I realize that they should have the same gas dynamics as the Balmer lines but I doubt we'll be able to constrain both the broad and narrow helium components. Can I just assume they will be narrow? Other suggestions?

[2022-01-22 23:33] moustakas commented on #47
@stephjuneau @Ragadeepika-Pucha here's a first crack at modeling `39633365313259365` with the https://github.com/desihub/fastspecfit/tree/fuji-dev branch. The deblending doesn't look too bad! However, the forbidden lines really look like they want a slightly different velocity shift from the narrow Balmer lines...

[code]

<img width="675" alt="Screen Shot 2022-01-22 at 6 30 07 PM" src="https://us

[2022-01-23 02:40] moustakas commented on #47
Finally, here's a nice QSO example at low redshift, `z=0.69`:
[code]

Here, I get a narrow Balmer line-width of 139 km/s and a broad Balmer line-width of 1203 km/s. By contrast, the MgII doublet yields a line-width of 1261 km/s and a very different velocity shift (-297 km/s vs +16 km/s) from the broad Balmer lines. We might actually be able to measure black hole masses!

In addition, here I get an

[2022-01-23 04:41] moustakas commented on #52
It turns out that this particular fit didn't converge because of the too-large negative bound on the line-amplitudes, which in Everest was -1e3 (in standard DESI flux units).

In https://github.com/desihub/fastspecfit/commit/7bd53c9f577a9cdb7c9d7d91085f10d04b5432a4 I now adaptively determine sensible (but conservative) bounds on the amplitude of each emission line, immediately before fitting, whic

[2022-01-24 16:45] Ragadeepika-Pucha commented on #47
@moustakas Thank you for the fits - These look amazing! The velocity shifts in forbidden lines in the first example are interesting. How can I access the fastspecfit results for these fits?

[2022-01-24 16:47] Ragadeepika-Pucha commented on #52
@moustakas - This looks good. Again, Can I have access to the result file for this one?
Additionally, @stephjuneau and me were discussing finding examples of such sources which did not converge in everest.
If I find such examples, we can probably use those to further test the changes.

[2022-01-29 13:53] moustakas opened #56 "tiny inverse variance fluxes"
Chiara Circosta has reported some objects in `Everest` whose H-alpha inverse variance fluxes are ludicrously small. Below are some examples to investigate.

[code]

[2022-01-30 14:55] moustakas opened #57 "synthesized fluxes in fastphot are in maggies, not nanomaggies"
In `fastphot`, the synthesized fluxes that are returned are in maggies, not nanomaggies as claimed in the data model:
[code]

Here's the offending line:
https://github.com/desihub/fastspecfit/blob/main/py/fastspecfit/continuum.py#L1309

Just need to multiply `synth_bestmaggies` by `1e9`.

[2022-01-30 16:06] moustakas commented on #57
Fixed in https://github.com/desihub/fastspecfit/commit/a7a8f3880003b5170c3ab38ca67a608e89605b34.

[2022-01-30 16:06] #57 closed

[2022-01-30 19:08] moustakas opened #58 "add string list of tileids to data model when fitting healpix coadds"
For numerous applications it's useful to know on which tiles a given target on a given healpix coadd was observed. Since the list of tiles can and is a variable length array, add this information as a string to the metadata table (in both `fastspec` and `fastphot`).

[2022-02-03 17:49] VFawcett commented on #47
Hi John, sorry I'm a bit late to this thread!
I have used PyQSOFit to fit all the QSOs in your updated fastspecfit file and broadly find good agreement:
![fastspec_MgII_flux_new2](https://user-images.githubusercontent.com/73785486/152399509-e65b9cd5-bfdc-430d-a128-8c2b95436fd3.jpg)
![fastspec_HA_flux_all](https://user-images.githubusercontent.com/73785486/152399514-7beaf692-2920-4acb-9bc0-cac6f642

[2022-02-03 18:12] VFawcett opened #59 "PyQSOFit comparison"
Hi John, sorry I'm a bit late to this thread!
I have used PyQSOFit to fit all the QSOs in your updated fastspecfit file and broadly find good agreement:
![fastspec_MgII_flux_new2](https://user-images.githubusercontent.com/73785486/152399509-e65b9cd5-bfdc-430d-a128-8c2b95436fd3.jpg)
![fastspec_HA_flux_all](https://user-images.githubusercontent.com/73785486/152399514-7beaf692-2920-4acb-9bc0-cac6f642

[2022-02-03 18:13] VFawcett commented on #59
Looking at some of the outliers:

Halpha:
I looked at the 3 largest outliers:
39627700813434295: this has the wrong redshift (I think there is strong Lya)
39633338322911828: Ha is right at the edge of the spectrum so I would not trust the fit
39633324649482922: this has narrow Ha so not sure what the problem is. Here is my fit:
![39633324649482922_PyQSOFit](https://user-images.githubusercontent.co

[2022-02-03 18:14] VFawcett commented on #47
[QSO fitting comparison: PyQSOFit to modified fastspecfit #59](https://github.com/desihub/fastspecfit/issues/59)

[2022-02-03 18:15] VFawcett commented on #47
#59

[2022-02-03 18:15] VFawcett commented on #47
[QSO fitting comparison: PyQSOFit to modified fastspecfit #59](https://github.com/desihub/fastspecfit/issues/59)

[2022-03-02 16:37] edarragh opened #62 "LOWZ Targets for Testing"
Fits file with LOW-Z targets for testing and validation (/global/cfs/cdirs/desi/users/edarragh/LOWZ_TARGETS_FUJI.fits)

[2022-03-19 15:35] moustakas opened #63 "add W3, W4 WISE photometry to the data model"

[2022-03-24 10:31] #63 closed

[2022-05-05 22:12] moustakas opened #65 "handle gzipped files"
This PR once merged will affect our I/O--
  https://github.com/desihub/desispec/pull/1756

[2022-06-11 23:04] moustakas opened #66 "handle systems with blueshifted [OIII] 5007"
[code]

![fastspec-main-bright-32332-39628211499303775](https://user-images.githubusercontent.com/1431820/173207668-ce44c63f-3177-486c-8468-356165d35fec.png)

[2022-06-11 23:29] moustakas opened #67 "improve velocity dispersion estimates"
One medium-term goal is to improve the velocity dispersion estimates. But first we need to fix issues like this, which suggest that velocity dispersion isn't being handled correctly at all. In detail, with the nominal `vdisp=150 km/s`, the Ca H+K lines in the model are clearly over-broadened. However, the implied broadening is more like `20-30 km/s`, which can't be right for a relatively luminous

[2022-06-28 11:48] moustakas commented on #62
This sample is being investigated with this wrapper script
  https://github.com/moustakas/fastspecfit-projects/blob/main/lowz/fastspecfit-lowz
with results posted here
  https://data.desi.lbl.gov/desi/users/ioannis/fastspecfit/lowz/fujilupe/qa/
and discussion appearing in the `fastspecfit` DESI Slack channel.

[2022-06-28 11:48] #62 closed

[2022-06-30 00:16] moustakas commented on #67
I'm working on this ticket here by comparing my vdisp estimates against those derived by Khaled Soliman using pPXF--
  https://data.desi.lbl.gov/desi/users/ioannis/fastspecfit/pv-vdisp/fujilupe/qa/

[2022-07-08 11:51] moustakas opened #68 "handle IGM attenuation"
We don't yet handle attenuation due to the IGM, which can impact the modeling of the highest redshift systems (particularly in `fastsphot`).

[2022-07-10 13:22] moustakas commented on #22
Done in https://github.com/desihub/fastspecfit/pull/69/commits/a87d66cf337b5a05411146a41462cfe11727ad07.

[2022-07-10 13:22] #22 closed

[2022-07-10 13:23] moustakas commented on #39
Done in #55 and #69.

[2022-07-10 13:23] #39 closed

[2022-07-10 13:24] moustakas commented on #52
Should be significantly better now (see #69). Please reopen if the issue persists.

[2022-07-10 13:24] #52 closed

[2022-07-10 13:25] moustakas commented on #47
Done in https://github.com/desihub/fastspecfit/pull/55 and https://github.com/desihub/fastspecfit/pull/69.

[2022-07-10 13:25] #47 closed

[2022-07-10 13:25] moustakas commented on #45
No cut on PHOTSYS now (see #69).

[2022-07-10 13:25] #45 closed

[2022-07-10 13:27] moustakas commented on #67
Lots of bugs (both algorithmic and in the QA code) now fixed in #69. Also, vdisp is now computed if `solve_vdisp=True` or if: `(S/N_B>3 or S/N_R>3) and (redshift < 1)`, where `S/N_B` and `S/N_R` is the signal-to-noise ratio per pixel in the B and R camera, respectively.

[2022-07-10 13:27] #67 closed

[2022-07-10 14:11] moustakas commented on #51
In the end, I opted to not use a spline continuum, although #69 includes significant improvements in the smooth continuum modeling over previous versions of the code, particularly when handling spectra with broad emission lines.

[2022-07-10 14:11] #51 closed

[2022-07-10 15:40] moustakas commented on #46
There has been extensive discussion of this issue in the fastspecfit Slack channel and, after some minor updates to the algorithm, the agreement appears to be significantly better. I'm going to close this ticket now, but let's continue to investigate this issue further once the full Fujilupe catalogs have been generated (see #69)

In the meantime, here are the latest results for the reported test

[2022-07-10 15:40] #46 closed

[2022-07-10 16:14] moustakas commented on #50
I believe that this issue has been fixed in #69; please reopen if not. Also, this test sample is being worked on in https://github.com/moustakas/fastspecfit-projects/blob/main/lowz/fastspecfit-lowz with outputs going to https://data.desi.lbl.gov/desi/users/ioannis/fastspecfit/lowz/fujilupe/qa.

[2022-07-10 16:14] #50 closed

[2022-07-10 20:34] moustakas commented on #56
Here are some additional examples with the full metadata included and below is the fit to the zeroth object. The line-fits look good. The issue appears to be caused by a handful of pixels in the extracted spectra with very tiny inverse variance. Then, when the inverse variance of the flux is computed, these pixels dominate the quadrature sum of the variance and, therefore, the final inverse varian

[2022-07-10 20:35] #56 closed

[2022-07-10 20:36] moustakas commented on #53
This sample is being investigated with this wrapper script
https://github.com/moustakas/fastspecfit-projects/blob/main/lowmass-agn/fastspecfit-lowmass-agn
with results posted here
https://data.desi.lbl.gov/desi/users/ioannis/fastspecfit/lowmass-agn/fujilupe/qa/
and discussion appearing in the fastspecfit DESI Slack channel.

[2022-07-10 20:36] #53 closed

[2022-07-10 21:13] moustakas commented on #38
I cleaned up the QA in in #69 but the underlying issue will most likely need to be addressed in the pipeline (tracked in https://github.com/desihub/desispec/issues/1389).

<img width="713" alt="Screen Shot 2022-07-10 at 5 12 06 PM" src="https://user-images.githubusercontent.com/1431820/178162260-6bcbd7ea-30b7-4283-bc49-834d35942743.png">

[2022-07-10 21:13] #38 closed

[2022-07-10 21:21] moustakas commented on #9
The way the code is set up, I don't think there's much we can do about this issue without a deeper study of the fastphot K-corrections themselves.

This was implemented in https://github.com/desihub/fastspecfit/commit/85594573a27d56f9b771d42b7fedc2183b5dee63 by requiring a minimum S/N of 2.0 in order for a bandpass to be used as a K-correction reference band.

[2022-07-10 21:21] #9 closed

[2022-07-12 17:32] moustakas opened #70 "compute a simple stellar mass"
It is relatively trivial to compute and return the stellar mass from the weights on the SSP models fitted to the broadband photometry. Do it.

[2022-07-12 20:11] moustakas commented on #43
This ticket ended up being particularly tricky, not least because I hadn't previously figured out how to compute band-shifted magnitudes. But I believe that #69 has this implemented correctly.

As an extra validation step, I took a set of objects and computed K-corrections and absolute magnitudes using both `fastphot` and the industry standard (IDL version of) `K-correct` (@blanton144).

Note that

[2022-07-13 15:22] moustakas commented on #43
Thanks for the suggestion, @blanton144, which turned up a couple different bugs in my code. I also ended up digging into my dust attenuation model and decided to switch from a Charlot & Fall power-law (with no UV bump) to a fairly standard Fitzpatrick & Masa Galactic curve (with a UV bump); I'll postpone a deeper dig into how I handle dust attenuation in a future effort.

Below is the K(z) plot yo

[2022-07-13 16:32] blanton144 commented on #43
Hi John,

Yes, I would declare success. Since you don't have an observed bandpass
near 0.1u, you don't necessarily expect to be able to recover that
magnitude consistently from different SED models!

Thanks,
Mike

On Wed, Jul 13, 2022 at 8:22 AM Moustakas ***@***.***> wrote:

--
Michael Blanton, Professor
Department of Physics
New York University

[2022-07-13 17:07] moustakas commented on #43
Great, thanks, these code changes are now in #69.

[2022-07-13 17:07] #43 closed

[2022-07-14 19:16] stephjuneau opened #71 "Add Lum(5100) to fastphot"
Request to add the luminosity at rest-frame 5100 Angstroms (in erg/s) to the fastphot output.

[2022-07-15 00:09] moustakas opened #72 "the unit 'nmgy' could not be saved in native FITS format"
#69 propagates units through all the astropy tables using the `QTable` object, but when writing the files in the last step, the following warning is issued. Not sure how to deal with this at the moment but tagging @weaverba137 @geordie666 @dstndstn @sbailey as there's a similar discussion (I think?) going on with the imaging / targeting files.

[code]

[2022-07-15 00:31] moustakas commented on #72
Actually, I've decided to abandon the `astropy.table.QTable` object, which affect performance noticeably and, even worse, when you `astropy.table.vstack` a list of `QTable`s the units aren't preserved! So although the tables are seeded with units, by the time the parallelism has gone through and all the tables are stacked together, the units (in columns which have them) are lost, which is frustrat

[2022-07-15 12:21] moustakas commented on #72
Lots of relevant discussion in https://github.com/astropy/astropy/issues/7279 and elsewhere.

[2022-07-15 13:16] weaverba137 commented on #72
When you say a warning is issued, does it still physically write the unit to the file?

Also note `1 / nmgy2` is invalid.  It should be `nmgy-2`.

[2022-07-15 13:52] moustakas commented on #72
No, astropy issues the warning and doesn't write any units. However, reading through some of the tickets linked above, I ended up writing the unit as a custom 'nanomaggies' unit and that works without any warnings.

Well, astropy issues this warning, so they'll need to clean that up.

@weaverba137 @sbailey if either of you have cycles to review the headers of the files written by #69 (and the data

[2022-07-15 14:36] moustakas commented on #72
None of my header cards have this form and never did, even when I was using `u.nmgy`. I'm saying that the astropy warning (and astropy itself) is wrong
[code]
But regardless, I'm not using this unit anymore; check out the headers of my files when/if you get a chance.

[2022-07-17 14:22] moustakas commented on #65
In fact, only intermediate files are gzipped, not `redrock-*.fits` nor `coadd-*.fits` files; closing.

[2022-07-17 14:22] #65 closed

[2022-07-17 14:24] moustakas commented on #71
Done in https://github.com/desihub/fastspecfit/pull/69/commits/2cc0376cc3b072ac48d5e88b08f1147e8ed9762b. The column is `LOGL_5100` and the units are `10**10 Lsun`.

[2022-07-17 14:24] #71 closed

[2022-07-17 15:43] moustakas commented on #8
Unit tests finally working in #69, although coverage tests are failing; closing this ticket and will track in #69.

[2022-07-17 15:43] #8 closed

[2022-07-18 13:06] moustakas opened #73 "consider modeling SiIII] and CIII] as a single line"
SiIII] 1892 and CIII 1908 are sufficiently blended in many QSO spectra (given their line-widths) that it may be more numerically stable to fit both lines using a single Gaussian model. One example is
[code]
Here, I have tied the velocity width and centroid of the two lines together, but the optimizer chooses to drop CIII] and fit the whole line-emission with a single SiIII] line with a velocity sh

[2022-07-19 20:27] deisenstein opened #74 "Support K correction calculations"
Given the fastphot or fastspec normalized model fits, we would like to compute the photometry at alternate redshifts, so that one can compute how the object would appear to target selection at other redshifts.  This is needed for 1/Vmax estimates of multivariate "luminosity" functions.

This should not include the luminosity distance corrections, nor evolution terms, but simply the bandshifting ef

[2022-07-20 11:01] moustakas commented on #70
#69 includes a very simple stellar mass estimate which is good enough for simple ranking of galaxies but isn't good enough for detailed work yet.

Here's a simple comparison of the stellar mass derived using Prospector for a small sample of SV1-selected LRGs from David Setton vs the `fastphot` stellar mass estimate. The residuals correlation with light-weighted age, the fastphot-inferred dust atte

[2022-07-22 10:33] moustakas opened #75 "DR9 main-survey target missing PHOTSYS in tile 142"
@araichoor @geordie666

This tile is currently crashing the fuji test-runs. The failed assert is in `desispec.io.photo`, but for now we can try to capture it in `fastspecfit.io.DESISpectra.select`.

In essence, there's one target with all the DR9-identifying information one would expect except PHOTSYS, which shouldn't happen (I think):
[code]

[code]

[2022-07-22 15:50] geordie666 commented on #75
This is a secondary-only SV3 target, I think, e.g.:
[code]
`desitarget` doesn't provide `PHOTSYS` for secondary targets, as they may not have been targeted using the Legacy Surveys. So, I think this must be an SV3-era downstream bug  in `fiberassign` (if `fiberassign` was adding supplemental `PHOTSYS` information to the target files during SV3).

[2022-07-22 16:07] #75 closed

[2022-07-29 22:42] moustakas commented on #59
@VFawcett I propose we move this discussion to the Slack channel and then create a new ticket after we've had a chance to compare your fits to my (upcoming) fujilupe catalogs. Closing now.

[2022-07-29 22:42] #59 closed

[2022-08-01 20:10] moustakas commented on #41
@Ragadeepika-Pucha @stephjuneau @biprateep

I've decided to implement this feature request by writing out the best-fitting models with the `fastspec` tables themselves. I think this closes this ticket, although I'll be sure to add these instructions to the documentation (still forthcoming). I'm also eventually planning to provide instructions as to how anyone can regenerate the models from the out

[2022-08-01 21:54] #41 closed

[2022-08-10 12:15] moustakas opened #79 "zero out columns of all dropped emission lines"
When an emission line is dropped, most of its columns should be set to zero. However, there are some corner cases where a line is dropped due to, e.g., too many masked pixels where some of the default (meaningless) quantities survive. One example are `OII_3726_VSHIFT` and `OII_3726_SIGMA` in this example object--
[code]

Fix this.

[2022-08-10 22:35] weaverba137 opened #80 "Module file template precludes installation of 'main'"
[This line](https://github.com/desihub/fastspecfit/blob/81a273e1b3d038561f524521776c1151d80eb41e/etc/fastspecfit.module#L73) should not be commented out.  With that line commented out, `desiInstall fastspecfit main` will fail to create an appropriate module file.

[2022-08-11 10:27] #80 closed

[2022-08-12 12:34] moustakas opened #81 "additional documentation updates related to the fujilupe VACs"
There are a few outstanding tasks related to the release of the Fuji and Guadalupe VACs (the latest documentation is [here](https://fastspecfit.readthedocs.io/en/latest/index.html)):

* [ ] Add an acknowledgements page (both on using the code and the data / VACs).
* [ ] Write the *algorithms* documentation page.
* [ ] Independently test the code installation instructions, including the `desihub` d

[2022-08-19 23:36] edarragh opened #82 "Objects with odd ABSMAG_SDSS_R"
A handful of objects from the LOW-Z program with unexpectedly bright  ABSMAG_SDSS_R
--
TARGETID
--
39633481701000832
39627862432552794
39633141308069648
39633343209279504
39633428097794736
39633507869262245
39627717636787810
39628023342826572
39628071015284948
39628159053726478
39628182306947825
39628135825672502
39628211436393100
39628199897861563
39628245884208887
39628188023785809
3962835787631

[2022-08-25 21:45] moustakas opened #83 "upload FastSpecFit to PyPI"
https://packaging.python.org/en/latest/tutorials/packaging-projects/

Potentially relevant:
https://packaging-guide.openastronomy.org/en/latest/minimal.html

[2022-09-06 11:24] moustakas commented on #82
Thanks for the report @edarragh.

What are the redshifts of the objects? One possibility is that the redshifts of these objects are incorrect, leading to the brighter-than-physical rest-frame photometry.

You can also generate QA to diagnose the issue. Do you mind doing so for your sample and reporting the results back here?

There's some documentation here, although admittedly probably not enough

[2022-09-06 18:52] edarragh commented on #82
Yes it does look like the problem is the redrock redshifts for these objects are too high (1.5 < z. < 4). However, I think all of these objects have multiple observations because the redshifts I have for these objects are much lower:

Z
--
0.06153824
0.20843961
0.12874662
0.16083649
0.19068298
0.08696652
0.16535471
0.1724017
0.23208781
0.13507766
0.17187988
0.06583512
0.11884124
0.17460608
0.15292

[2022-09-06 22:25] moustakas commented on #82
@edarragh where are your redshifts coming from? My fits are based on the healpix coadds, so each SURVEY-PROGRAM-TARGETID is (should be!) unique.

[2022-09-06 22:27] moustakas commented on #82
Oh, the exception is that we do use the updated QuasarNet redshifts, for very high-probability high-redshifts QSOs--
  https://fastspecfit.readthedocs.io/en/latest/fujilupe.html#updated-qso-redshifts

Can you see if `Z` differs from `Z_RR` for the objects in your list? If so, then that means I've used the QuasarNET redshift when performing the spectral fitting.

[2022-09-06 22:57] edarragh commented on #82
Yes it looks like the discrepancy is between Z and Z_RR for the objects mentioned

[2022-09-06 22:59] edarragh commented on #82
It does appear that a number (though I don't think all) of the objects are blended
<img width="832" alt="Screen Shot 2022-09-06 at 3 59 25 PM" src="https://user-images.githubusercontent.com/55715355/188754662-e397f689-4629-4b7d-bccf-eb3ced401154.png">

[2022-09-09 17:46] edarragh commented on #82
Hi John, here is the full list of objects with significantly discrepant redshifts (Z - Z_RR > 0.3).
[fastspec_photo.fits.zip](https://github.com/desihub/fastspecfit/files/9537685/fastspec_photo.fits.zip)

[2022-10-14 17:23] moustakas commented on #54
There's an `assert` in the code now to ensure that the coordinates are never zero (although I've lost track of the exact commit).

For the record, the M31 project has moved over to here--
  https://github.com/moustakas/fastspecfit-projects/blob/main/m31/fastspecfit-m31

[2022-10-14 17:23] #54 closed

[2022-10-14 17:26] moustakas opened #84 "verify the doublet ratios and central wavelengths of the weak nebular lines"
In some high signal-to-noise spectra of M31 HII regions [OIII] 7330 is not being fit well, e.g.--

<img width="185" alt="Screen Shot 2022-10-14 at 7 55 15 AM" src="https://user-images.githubusercontent.com/1431820/195905760-13758ba1-8d1e-472a-afcc-7f995f755cfd.png">

Review all the central wavelengths and emissivities for the weak nebular lines

[2022-10-14 18:56] moustakas opened #85 "multiprocess the initial line-masking"
The initial line-masking is done serially after the spectra are read, so it's a bottleneck. Multiprocess this step.

[2022-10-14 19:01] moustakas commented on #84
It turns out that [OII] 7320 is itself a doublet (it's a magnetic dipole and electric quadrapole), as is [OII] 7330. I updated the atomic data and now I'm using the emissivity-weighted wavelengths for each of the doublets. In addition, I now fix the 7320/7330 doublet ratio to be 1.2251, not 1.9085 as before, which was very wrong because it ignored the double-doublets.

Some documentation can be fo

[2022-10-20 11:30] moustakas opened #86 "EWs are incorrect by a factor of (1+z)^2"
@araichoor pointed out a terribly embarrassing bug in my EWs: the factor of 1+z should be in the denominator, not the numerator--
  https://github.com/desihub/fastspecfit/blob/main/py/fastspecfit/emlines.py#L1554

I thought I had checked these EWs against SDSS, pPXF, and other codes, but somehow this wrong factor slipped through. I'll do some additional checks before making this change, but this w

[2022-10-20 15:21] araichoor commented on #86
actually, the credits go to Christophe M. from saclay.
he noticed that in `desispec.emlinefit.emlines_gaussfit()`, which I ll have to also modify, btw.

[2022-10-21 00:16] moustakas commented on #86
Here's a quick comparison with the Portsmouth SDSS catalog--
https://data.sdss.org/datamodel/files/BOSS_GALAXY_REDUX/GALAXY_VERSION/portsmouth_emlinekin_full.html

This definitely shows that I messed up the factor of (1+z). In particular, all measurements are done in the observed frame and there's no factor of 1+z in the integrated flux, but the continuum flux (in the denominator) needs to be *mul

[2022-10-21 21:19] #86 closed

[2022-10-21 21:20] moustakas commented on #84
Done in #87.

[SIII] 9069,9532 will likely need some updates, but I'll open a separate ticket for that doublet.

[2022-10-21 21:20] #84 closed

[2022-10-23 17:43] moustakas opened #88 "consider adopting the fiducial DESI cosmology"
`fastphot` currently uses a vanilla LCDM cosmology with h=0.7 to compute luminosity distances. Consider adopting the fiducial DESI cosmology to make it easier to map between data and mocks--
https://desi.lbl.gov/trac/wiki/keyprojects#Fiducialcosmology

[2022-11-07 12:13] SgmAstro opened #89 "nb for k-correction calculation"
Following our meeting, it would be useful to have a notebook that could give an example of how to use the fastspecfit code to calculate k-corrections given a spectrum.

[2022-11-22 20:57] chto opened #90 "Biases of model magnitude for red galaxies"
@moustakas  It seems that the colors based on the best-fit model are biased blue for red galaxies. This bias becomes more pronounced for low redshift galaxies.

The following plot, based on the `fastphot-fuji-sv1-dark.fits` catalog, demonstrates this finding. I first cut out galaxies with DES>0 to make sure DECAM filter is used for calculations. The y-axis is the fractional error of color based on